<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Cinema Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="principal">
        <header>
            {% block header %}{% endblock %}
        </header>

        <div class="secundaria">
            {% block conteudo %}{% endblock %}
        </div>

        <footer>
            &copy; Cinema Python🐍💙💛, 2026 <br>
            made by: Lucas Paguetti Pereira, all rights reserved 👨🏻‍💻 <br> <br> 
          <div align="center">
            <div style="text-align: center;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" width="110" style="margin: 0 30px;">
        </footer>
    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='avisos.js') }}"></script>
    {% endblock %}

    
</body>
</html>

