{% extends "base.html" %}

{% block header %}
<h1>Comprar Ingresso 🎫 🛒</h1>
{% endblock %}

{% block conteudo %}
<form method="get">

    <label>Idade do cliente:</label>
    <input type="number" name="idade" required, request style="width: 90px; height: 50px;">

    <br><br>

    <label>Tipo de ingresso:</label>
    <select name="extra" required>
        <option value="1">Inteira - R$30</option>
        <option value="2">Meia - R$15</option>
        <option value="3">Promocional - R$21</option>
        <option value="4">Gratuita - R$0</option>
    </select>

    <br><br>

    <button type="submit" formaction="{{ url_for('confirmar') }}?voltar=1">
        Adicionar Ingresso (+1) 🎟️
    </button>

</form>
{% endblock %}
