{% extends "base.html" %}

{% block conteudo %}

<h1>Pagamento 💰</h1>

<p>Total: R$ {{ totalRS }}</p>
<p>Ingressos desta compra: {{ ingressos_usuario }}</p>

<form id="formPagamento" method="get" action="{{ url_for('resumo') }}">

    <input type="hidden" id="total" value="{{ totalRS }}">

    <div id="campoDinheiro" style="display:none;">
        <label>Valor pago:</label>
        <input id="p" name="valor_pago" type="number" step="0.01">
        <br><br>
    </div>

    <button id="cartao" type="button">
        Pagar com Cartão 💳
    </button>

    <button id="dinheiro" type="button">
        Pagar com Dinheiro 💵
    </button>

    <br><br>

    <button id="confirmar" type="submit" style="display:none;">
        Confirmar Pagamento
    </button>

</form>

{% endblock %}
